*{
    box-sizing: border-box;
}
.btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
}
.message {
    width: 80%;
    border: 1px solid grey;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.box {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    width: 25%;
    text-align: center;
}
.box1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}