body {
    margin: 0;
    background-color: rgb(74, 74, 98);
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    color: aliceblue;
    text-align: center;
}

.gallery {
    margin: 0 0.65rem;
}

.pictures {
    height: auto;
    margin: 0.5rem;
}

.pictures img {
    height: 288px;
    width: 512px;
    object-fit: cover;
}

@media (min-width: 640px) {
    .gallery {
        display: grid;
        grid-template-columns: auto auto;
    }
}