h1 {
  text-align: center;
}

body {
  background-color: brown;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: silver;
  text-align: center;
  border-radius: 5px;
}

#answer {
  padding: 5px 10px;
  width: 250px;
  font-size: 25px;
  text-align: center;
  background-color: white;
  float: left;
}

.inputstyle {
  color: black;
  background-color: #fff;
}

input {
  color: black;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  border: 0;
  float: left;
  margin: 5px;
  font-size: 20px;
}

input:hover {
  background-color: grey;
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}

input:active {
  top: 4px;
}

.operator {
  color: white;
  background-color: black;
  position: relative;
}

.operator:hover {
  background-color: grey;
}

.operator:active {
  top: 4px;
}

#clear {
  float: left;
  position: relative;
  background-color: orange;
}

#clear:hover {
  background-color: grey;
}

#clear:active {
 top: 4px;
}

.button {
  background-color: red;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px;
  font-size: 40px;
  width: 60px;
  height: 50px;
}

.button:hover {
  background-color: grey;
}

.button:active {
  color: red;
}

img {
  float: right;
  width: 400px; 
  height: auto;
}